@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*-----------Fuentes de GoogleFonts---------*/

/* --------------------Colores -------------- */
:root {
  /* primarios */
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  /* neutrales */
  --DarkGray: hsl(0, 0%, 59%);
}
/*---------------principales---------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  /* fondo de la pagina */
  background-color: var(--DarkCyan);
  /* background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right; */
}

/*---------------Card---------------------*/
.container {
  border: 1px solid;
  /* de prueba */
  margin: 140px auto 20px; /*up sides bottom*/
  width: 330px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /*esta cosa es magica loco, permite a los objetos ubicarse sin display*/
}
.pattern {
  background: url(images/bg-pattern-card.svg);
  height: 140px;
}
.photo {
  position: absolute;
  top: 87px;
  left: 35%;
  border-radius: 50%;
  border: 5px solid white;
  /* justify-self: center; */
  overflow: hidden;
  height: 96px;
  width: 96px;
}

.info {
  grid-column: 2/7;
  grid-row: 5/6;
  font-size: 1em;
  width: 140px;
  justify-self: center;
}
.info h1 {
  font-weight: 700;
  font-size: 1em;
  width: 110px;
}
.info h2 {
  font-weight: 700;
  font-size: 0.8em;
  width: 55px;
}
.line {
  height: 1px;
  background: var(--DarkGray);
  grid-row: 6;
  grid-column: 1/-1;
}
.data {
  grid-column: 1/-1;
  grid-row: 6/-1;
  display: flex;
  justify-self: center;
}
.card {
  width: 65px;
  margin: 0 20px;
  /* display: flex;
  flex-direction: column; */
}
.card p {
  font-weight: 700;
  /* font-size: 1em; */
}
.card span {
  font-size: 0.6em;
  font-weight: 400;
}
/*------------------Footer------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
