@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*-----------Fuentes de GoogleFonts---------*/

/* --------------------Colores -------------- */
:root {
  /* primarios */
  --DarkCyan: hsl(185, 75%, 39%);
  --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --DarkGrayishBlue: hsl(227, 10%, 46%);
  /* neutrales */
  --DarkGray: hsl(0, 0%, 59%);
}
/*---------------principales---------------------*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  /* fondo de la pagina */
  background-color: var(--DarkCyan);
  box-sizing: border-box;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 20vh right 51vw, top 50vh left 45vw;
}

/*---------------Card---------------------*/
.container {
  /* border: 1px solid; */
  /* de prueba */
  margin: 140px auto 20px; /*up sides bottom*/
  width: 330px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  position: relative; /*esta cosa es magica loco, permite a los objetos ubicarse sin display*/
}
.pattern {
  background: url(images/bg-pattern-card.svg);
  height: 140px;
}
.photo {
  position: absolute;
  top: 87px;
  left: 35%;
  border-radius: 50%;
  border: 5px solid white;
  /* justify-self: center; */
  overflow: hidden;
  height: 96px;
  width: 96px;
}
/*--------------Victor...London----------------*/
.info {
  background-color: white;
  height: 150px;
  padding: 75px;
  box-sizing: border-box;
  text-align: center;
}
.info h1 {
  font-weight: 700;
  font-size: 1em;
  display: inline;
  color: var(--VeryDarkDesaturatedBlue);
  margin-right: 5px;
}
.info span {
  font-weight: 400;
  color: var(--DarkGrayishBlue);
}
.info h2 {
  font-weight: 400;
  font-size: 0.8em;
  color: var(--DarkGrayishBlue);
  margin-top: 8px;
}
/*------------Followers...Photos---------------*/
.data {
  border-top: 0.1px solid var(--DarkGray);
  background: white;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card {
  text-align: center;
}
.number {
  font-weight: 700;
  color: var(--VeryDarkDesaturatedBlue);
  margin-bottom: 4px;
}
.units {
  font-weight: 400;
  font-size: 0.6em;
  color: var(--DarkGrayishBlue);
  /* esto es nuevo  */
  letter-spacing: 2px;
}
@media screen and (min-width: 1439px) {
  .container {
    width: 350px;
  }
}
/*------------------Footer------------------*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
